
	<h1 style="text-align:center"> Weather Forecast </h1>
	<div class="container-fluid">
		<div class="input-group" align="center" id="searchCity">
			<span class="input-group-btn">
				<button class="btn btn-warning" type="button" ng-click="gps()">GPS</button>
			</span>
			<input class="form-control" type="search" ng-model="city" placeholder="City">
			<span class="input-group-btn">
				<button class="btn btn-info" type="submit" ng-click="recherche()">Recherche</button>
			</span>
		</div>

		<div ​ ng-if="meteo" style="text-align:center"​>
			<div class="col-sm-offset-3 col-lg-6">
				<h1 style="text-align:center">{{meteo.name}}</h1>
				<div style="text-align:center">​@{{meteo.date.toLocaleString()}}</div>
				<hr>
				<h1><i class="wi wi-owm-day-{{meteo.weather[0].id}}"></i></h1>
				<!-- <img style="text-align:center" src="http://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png" /> -->
				<h3 style="text-align:center"> ​{{meteo.main.temp| number:0}} ​°</h3>
				<div style="text-align:center">​{{meteo.weather[0].description}}</div>
				<hr>
				<div class="form-group" style="text-align: center">
					<label for="humidity" class="col-sm-1 control-label">Humidity</label> {{meteo.main.humidity}}%
				</div>
				<hr>
				<div class="form-group" style="text-align: center">
					<label for="nuage" class="col-sm-1 control-label">Nuage</label> {{meteo.clouds.all}}%
				</div>
				<hr>
				<div class="form-group" style="text-align: center">
					<label for="vent" class="col-sm-1 control-label">Vent</label> {{meteo.wind.speed}} m/s/</span><i id="windDirection" class="wi wi-wind towards-{{meteo.wind.deg}}-deg"></i>
				</div>
				<hr>
				<image id="map" src="http://maps.googleapis.com/maps/api/staticmap?size=500x400&zoom=10&center={{meteo.name}}&markers={{meteo.name}}">
			</div>
		</div>
		<p ​ng-if="errorMsg ​"> ​{{errorMsg}} ​</p>
	</div>
